body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #dda15e;
    color: #606c38;
    border: 8px solid #283618;
    border-radius: 25px;
    animation-name: test-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.card:hover{
    background: #ccd5ae;
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes test-animation {
    0% {color: #606c38;}
    50% {color: #faedcd;}
    100% {color: #606c38;}
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

